@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #008d36;
    --color-black: #1f1f1f;
    --color-portfolio-black: #333333;
    --color-portfolio-green: #ffaf46f2;
    --color-portfolio-blue: #36c5e9;
    --color-dark-blue: #3dadea;
    --color-portfolio-green: #ADE25D;
    --color-light-green: #CFFFB3;
    --color-dark-green: #036016;
    --color-darker-green: #03440C;
    --color-border-light: #e0e0e0; 
    --color-bg-light: #F6F4F2;
    --color-bg-dark: #EAEAEA;
}


/* Importation des polices */
@font-face {
    font-family: "matter";
    src: url(assets/font/matter/Matter-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "matter-thin";
    src: url(assets/font/matter/Matter-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: "matter-bold";
    src: url(assets/font/matter/Matter-Bold.ttf);
    font-display: swap;
}

/* Reglages globaux */
body {
    font-family: "matter", sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(assets/effects/otis-redding.png);
    background-size: 60px;
    background-blend-mode: multiply;
}

html {
    transition: none;
}

.btn {
    @apply rounded-full px-8 py-3 text-lg bg-white border border-portfolio-green text-center cursor-pointer text-black shadow-sm hover:text-white hover:bg-portfolio-green transition duration-150;
}

/* Hero */
.intro {
    background-image: url(assets/effects/otis-redding.png);
    background-size: 60px;
    background-blend-mode: multiply;
}

/* Projects */
#projets {
    background-image: url(assets/effects/otis-redding.png);
    background-size: 60px;
    background-blend-mode: multiply;
}

.projets-right ul .projets-line {
    @apply relative h-full w-full flex justify-between items-center border-b border-portfolio-black dark:border-white py-3 lg:py-5;
}

.project-link .projets-line h3 {
    @apply leading-6 text-start relative pl-0 transition-all duration-150 ease-in-out lg:text-xl text-base md:text-lg;
}

/* la flèche (pseudo-élément) */
.project-link .projets-line h3::before {
    content: "➔";
    @apply absolute left-0 top-1/2 -translate-y-1/2 opacity-0 -translate-x-3 transition-all duration-150 ease-in-out;
}

/* hover : flèche visible + titre décalé */
.project-link:hover .projets-line h3 {
    @apply pl-8;
}

.project-link:hover .projets-line h3::before {
    @apply opacity-100 translate-x-0;
}

.projets-line .goal {
    @apply italic lg:text-xl text-base md:text-lg leading-6;
    font-family: 'Luckiest Guy';
}

.projets-line .projets-right {
    @apply flex flex-col items-end justify-center text-end;
}

/* About */
#about p {
    @apply lg:text-2xl text-lg md:text-xl;
}

/* Skills */
.skills h3 {
    @apply flex justify-center uppercase m-2 font-bold py-3 text-xl md:text-3xl lg:text-4xl;
    font-family: "matter-bold", sans-serif;
    letter-spacing: 0.6rem;
}

/* Contact */
#catch {
    @apply text-2xl md:text-3xl lg:text-5xl lg:leading-12 text-shadow-md;
    letter-spacing: 0.1rem;
}

.contact-links {
    font-size: 2rem;
    grid-row: 2;
}

.contact-links button {
    @apply text-lg md:text-xl lg:text-3xl rounded-full border text-white px-8 py-1 cursor-pointer transition duration-150 border-darker-green border-black bg-portfolio-black hover:border-light-green hover:bg-dark-green;
}
